html, body, #root{
  min-height:100vh;
}

.App {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.App-logo {
  
}

.App-header, .App-footer {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header-logo{
  font-size:30px;
  margin:.5rem;
}
.App-header-toolbar{
  width:100vw;
  background-color:#ddd;
  color:black;
  margin:0 2px;
}

.App-footer {
  min-height: auto;
}


.News-list{
  display:flex;
  flex-wrap:wrap;
}

.News-article{
  flex:1;
  max-width:30%;
  margin:1em;
  padding:1em;
}

.News-article-image{
  width:100%;
  height:auto;
}